.idea
.vscode
cmake-build-debug
cmake-build-release
/build
/bin

.venv
*.pyc
*/__pycache__/*
.coverage
.env%

*.scs~
ostis-web-platform
kb.bin

__pycache__

sc-server.log

.DS_Store

# texstudio
*.aux
*.bcf
*.idx
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz

*.db
*.txt
