[submodule "docs/scn"]
	path = docs/scn
	url = https://github.com/ostis-ai/scn-latex-plugin
[submodule "platform-dependent-components/interface/react-sc-web"]
	path = platform-dependent-components/interface/react-sc-web
	url = https://github.com/ostis-ai/react-sc-web.git
